@media (min-width: 320px) {
    html {
        font-size: 30px;
    }
}

@media (min-width: 600px) {
    html {
        font-size: 22px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}