mixin select-item(item)
    .header__select-item
        span.header__select-item-text=item
mixin custom-select(name)
    .header__select
        .header__select-header 
            span.header__select-current=name
            .header__select-icon
                img.header__select-icon-img(src='../media/svg/Select-icon.svg')
        .header__select-body
            +select-item('Post Header')
            +select-item('Post Layout')
            +select-item('Share Buttons')
            +select-item('Gallary Post')
            +select-item('Video Post')
header.header
    .header__top 
        .header__burger 
            span.header__burger-menu
        img.header__logo(src='../media/svg/Logotype.svg')
        .header__top_right
            input.header__text-field(type="text" placeholder="Поиск")
            button.header__search
    .header__bottom
        +custom-select("Demos")
        +custom-select("Post")
        +custom-select("Features")
        +custom-select("Catigories")
        +custom-select("Shop")
        a.header__link(href="") Buy Now
