mixin topic-card(type, topic, image)
    .main__card 
        .main__card-img
            img.main__card-picture(src=image)
        .main__card-type=type 
        .main__card-topic=topic 
        .main__card-user 
            span.main__card-author Someone_cool
            span.main__card-date 7h ago
            span.main__card-views 2k Views
        .main__card-description Structured gripped tape invisible moulded cups for support firm hold strong powermesh front liner sport detail. Warmth comfort hangs loosely from the body large pocket at the front full button...
main 
    .main
        +topic-card("Lifestyle", "Right For Your Exercise Regime", "../media/png/1.png")
        +topic-card("Lifestyle", "The Look: Perfect Balance", "../media/png/2.png")
        +topic-card("Style", "Fun Things to Do in Rome", "../media/png/3.png")
        +topic-card("Lifestyle", "A little rest won't be hurt", "../media/png/4.png")
        +topic-card("Lifestyle", "You need just chill", "../media/png/5.png")
        +topic-card("Style", " Now technology is reaching a new level", "../media/png/6.png")
        +topic-card("Lifestyle", "Working in a cafe helps you relax", "../media/png/7.png")
        +topic-card("Lifestyle", "Now is a pretty good time to go to the seaside", "../media/png/8.png")
        +topic-card("Style", "There was a party at the neon club recently", "../media/png/9.png")

